
.logout-icon{
    color: #D8D8D8 !important;
    border-left: solid 1px!important;
}
.navbar {
    height: 5%;
    position: relative !important;
    display: -ms-flexbox !important;;
    display: flex !important;;
    -ms-flex-wrap: wrap !important;;
    flex-wrap: wrap !important;;
    -ms-flex-align: center !important;;
    align-items: center !important;;
    -ms-flex-pack: justify !important;;
    justify-content: space-between !important;;
    padding: .5rem 1rem !important;;
}

nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top {
    /*background: linear-gradient(to right, #121212, #f34e54) left bottom #777 no-repeat;*/
    background-size: 100% 1px;
    border-bottom: 1px solid #D8D8D8;
    margin-right: -266px;
}


.navbar-expand {
    -ms-flex-flow: row nowrap !important;
    flex-flow: row nowrap !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.navbar-brand {
    display: inline-block !important;
    padding-top: .3125rem !important;
    padding-bottom: .3125rem !important;
    margin-right: 1rem !important;
    font-size: 1.25rem !important;
    line-height: inherit !important;
    white-space: nowrap !important;
}

.navbar-dark .navbar-brand {
    color: #29314e !important;
}

#sidebarToggle{
    background-color:  #363232 !important;
    /*min-width: 90px;*/
}

.logo{
    width: 76px;
    height: 50px;
}
#sidebarToggle{
    min-width: 69px!important;
}
.dialog{
    background: #29314e;
}
.nav-link{
    border-radius: 0px 10px!important;
}

.separador-direita{
    border-right: 2px solid white;
    height: 100%;;
}
.separador-esquerda{
    border-left: 2px solid white;
    height: 100%;;
}
.nav-item{
    background: #363232!important;
    border-radius: 1px 10px!important;
}

.linha-menu-superior{
    display: flex;
    align-items: center;
}

.menu-superior{
    height: 60px;
    align-items: start;


}
.project-name{
    display: flex;
    flex-direction: row-reverse;
    font-size: 30px;
    font-weight: bold;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    color:white;

}





