<nav class="static-top">
<div style="background:  #363232;" class="menu-superior d-flex bd-highlight" >
        
        <div class="menu bd-highlight">
            <button class="btn" id="sidebarToggle" href="#">
            <i class="fa fa-bars fa-2x" style="color: #fff;"></i>
            </button>
        </div>
    
        <div class="col-md-2 div-logo flex-fill bd-highlight">
             <a class="navbar-brand" pTooltip="Home">
                <img  src="assets/img/cash.png"alt="ITSS APP"  class="logo">
             </a>
        </div>
        <div class="separador-direita"></div>
        <div class="col-md-4 flex-fill bd-highlight ">
            <div class="project-name" style="border: #fff">
                <label>Cashier Doc. Manager</label>
            </div>
        </div>
        <div class="separador-direita"></div>

</div>
</nav>