<div class="div-pai">
    <div class="container" style="padding-top: 5%;">
        <button pButton type="dinheiro" label="1. Dinheiro" icon="fa fa-money"
            class="ui-button-raised ui-button-success"
            style="width: 200px; height: 50px; background-color: #F16943; display: inline;">
        </button>
    </div>

    <div class="container" style="padding-top: 5%;">
        <button type="button" class="button">
            <i class="fa fa-money" aria-hidden="true"></i>
            1. Dinheiro
        </button>
    </div>

    <div class="container" style="padding-top: 5%">
        <button pButton type="cartao" label="2. Cartão" class="ui-button-raised ui-button-success"
            style="width: 200px; height: 50px; background-color: #F16943">
        </button>
    </div>

    <div class="container" style="padding-top: 5%">
        <button pButton type="apagar" label="3. A Pagar" class="ui-button-raised ui-button-success"
            style="width: 200px; height: 50px; background-color: #F16943">
        </button>
    </div>

    <div class="container" style="padding-top: 5%">
        <button pButton type="cheque" label="4. Cheque" class="ui-button-raised ui-button-success"
            style="width: 200px; height: 50px; background-color: #F16943">
        </button>
    </div>
</div>