<section class="section-pai" style="width: 100%;">

    <div class="card ">
        <div class="card-login">

            <div class="container" style="padding-top: 5%">
                <div class="container-fluid col-xs-6">
                    <label> Login</label>
                    <input class="form-control">
                </div>
            </div>

            <div class="container">
                <div class="container-fluid col-xs-6">
                    <label>Senha</label>
                    <input class="form-control" type="password">
                </div>
            </div>

            <div class="container" style="padding-top: 5%">
                <div class="container-fluid">
                    <button pButton type="Login" label="Logar" class="ui-button-raised ui-button-success"></button>
                </div>
            </div>
        </div>
    </div>

</section>