<section class="section-pai" style="width: 100%;">
    <div class="card ">
        <div class="card-login">
            
            <div class="form-row">
                <div class="form-group col">
                    <label> Login:</label>
                    <input class="form-control">
                </div>
            </div>

            <div class="form-row">
                <label>Senha:</label>
                <input class="form-control">
            </div>

            <div class="form-row">
                <div class="form-group">

                        <button class="ui-button-raised ui-button-rounded"></button>
                </div>
            </div>



        </div>
    </div>

</section>